/*************Fonts*************/

@font-face {
	font-family: 'Nazanin';
	src: url('fonts/BNazanin.eot');
	src: url('fonts/BNazanin.eot?#iefix') format('embedded-opentype'),
		 url('fonts/BNazanin.woff') format('woff'),
		 url('fonts/BNazanin.ttf') format('truetype');
	font-weight	: normal;
	font-style	: normal;
	-webkit-font-smoothing	: antialiased;
}

@font-face {
	font-family: 'Titr';
	src: url('fonts/BTitrBold.eot');
	src: url('fonts/BTitrBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/BTitrBold.woff') format('woff'),
		 url('fonts/BTitrBold.ttf') format('truetype');
	font-weight	: normal;
	font-style	: normal;
	-webkit-font-smoothing	: antialiased;
}

:lang(fa-IR) {
	font-family	: 'Nazanin';
	direction	: rtl;
}

/**************************/

#wrap {
	background-image: url('images/bg.jpg');
	background-color: #DED3BF;
}

/*************HEADER*************/

header {
	min-height: 325px;
	padding-top: 1px;
	background-image: url('images/bg-header.png');
	background-repeat: repeat-x;
	background-position: left bottom;
}

header div.header_container {
	min-height: 180px;
	margin-top: 70px;
}

div.header_container hgroup {
	text-align: center;
	line-height: 1.8;
}

div.header_container hgroup h1 {
	font-family: titr;
	font-size: 59px;
	color: #324B4B;
	text-shadow: 0 1px 0 rgba(255,255,255,.5), 0 -1px 0 rgba(0,0,0,.8);
}

div.header_container hgroup span {
	font-family: titr;
	color: #F0D200;
	text-shadow: 0 1px 0 rgba(0, 50, 40, 0.5), 0 -1px 0 rgba(255, 255, 0, 0.8);
}

div.header_container hgroup h4 {
	font-size: 27px;
	color: #fff;
	text-shadow: 0 1px 0 #4C7C7B;
}



/*************CONTENT*************/

section.content_container {
	height: 525px;
}

section.content_container div.content {
	min-height: 480px;
	outline: 1px solid blue;
	padding-top: 1px;
}

div.content > div {
	outline: 1px solid red;
	width: 182px;
	min-height: 407px;
	margin-top: 40px;
	margin-right: 10px;
}

div.content div.icon {
	background-image: url('images/browsers.png');
	background-repeat: no-repeat;
	width: 125px;
	height: 135px;
	margin: 0 auto 20px;
}

div.content div.chrome div.icon {
	background-position: 0 0;
}
div.content div.firefox div.icon {
	background-position: -125px 0;
}
div.content div.safari div.icon {
	background-position: -375px 0;
}
div.content div.opera div.icon {
	background-position: -250px 0;
}
div.content div.iE div.icon {
	background-position: -500px 0;
}

div.content > div.last {
	margin-left: 770px;
	width: auto;
}

/*************FOOTER*************/

footer {
	height: 250px;
	padding-top: 1px;
	background-image: url('images/bg-footer.png');
	background-repeat: repeat-x;
	background-position: left top;
}

footer div.footer_container {
	min-height: 100px;
	margin-top: 60px;
}

div.footer_container div.about {
	width:595px;
	min-height: inherit;
}

div.footer_container div.social {
	margin-left: 600px;
	min-height: inherit;
}